/out/production/OOP_ex3/.idea/.name
/out/production/OOP_ex3/ascii_art/AddException.class
/out/production/OOP_ex3/ascii_art/AlogithmParameters.class
/out/production/OOP_ex3/ascii_art/AsciiArtAlgorithm$Pair.class
/out/production/OOP_ex3/ascii_art/AsciiArtAlgorithm.class
/out/production/OOP_ex3/ascii_output/AsciiOutput.class
/ascii_output/AsciiOutput.java
/examples/board.jpeg
/out/production/OOP_ex3/examples/board.jpeg
/examples/cat.html
/out/production/OOP_ex3/examples/cat.html
/out/production/OOP_ex3/cat.jpeg
/cat.jpeg
/examples/cat2.jpeg
/out/production/OOP_ex3/examples/cat2.jpeg
/out/production/OOP_ex3/image_char_matching/CharConverter.class
/out/production/OOP_ex3/.idea/codeStyles/codeStyleConfig.xml
/out/production/OOP_ex3/ascii_output/ConsoleAsciiOutput.class
/ascii_output/ConsoleAsciiOutput.java
/out/production/OOP_ex3/oh_tests/EX3Tests$Restart.class
/out/production/OOP_ex3/oh_tests/EX3Tests$TestCase.class
/out/production/OOP_ex3/oh_tests/EX3Tests.class
/oh_tests/EX3Tests.java
/out/production/OOP_ex3/ascii_output/HtmlAsciiOutput.class
/ascii_output/HtmlAsciiOutput.java
/out/production/OOP_ex3/image/Image.class
/out/production/OOP_ex3/image/ImageBrightnessCalculator.class
/out/production/OOP_ex3/image/ImageDivider.class
/out/production/OOP_ex3/image/ImageToBrightnessesFacade.class
/out/production/OOP_ex3/ascii_art/InvalidCommandException.class
/out/production/OOP_ex3/ascii_art/KeyboardInput.class
/out/production/OOP_ex3/out.html
/out.html
/out/production/OOP_ex3/out (1).html
/out (1).html
/out/production/OOP_ex3/out (2).html
/out (2).html
/out/production/OOP_ex3/ascii_art/OutputException.class
/out/production/OOP_ex3/.idea/inspectionProfiles/Project_Default.xml
/out/production/OOP_ex3/image/RappedImage.class
/out/production/OOP_ex3/README
/out/production/OOP_ex3/ascii_art/RemoveException.class
/out/production/OOP_ex3/ascii_art/ResException.class
/out/production/OOP_ex3/ascii_art/Shell.class
/out/production/OOP_ex3/ascii_art/ShellConstant.class
/out/production/OOP_ex3/image_char_matching/SubImgCharMatcher.class
/out/production/OOP_ex3/UML.pdf
/UML.pdf
